!!! 5
html
  head
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src="/js/jquery.js")
    script(src="/js/jqueryui.js")
    script(src="/js/underscore.js")
    script(src="/js/util.js")    
    script(src="/coffee/officelist.js")
    script(src="/js/jquery.MultiFile.pack.js")
    script(src="/js/ajaxupload.js")
    link(type="text/css", rel="stylesheet", href="/css/style.css")
  body
    table(width="100%", id="main_table")
      tr
        td(colspan="2", style="height: 75px;")
          table(width="100%")
            tr
              td
                h1(style="float:left;") Officelist.org
              td
                span#jingle the free way to search for real estate
              td(align="right")
                - if (username)
                  span(id: "user", data-officelist-user: req.officelistUser()) Logged in as 
                    a(href : "http://twitter.com/" + username) #{username}
                    span |
                    a(href : "/logout") Logout                  
                - else
                  a(href="/auth/twitter/callback") My listings
      tr
        td#left_side.main(style="width: 300px;", valign="top")
          h3.add_listing Add Listing
          div.add_listing
            form#add_form(method="POST", action="/")
              select#option(name="type")
                option For Lease
              h5 Location
              input#location(name="location")
              h5 Size
              input#size(name="size")
              
              h5 Price
              input#price(name="price")
              select#price_type(name="price_type")
                option Per Month
              select#nnn(name="nnn")
                option NNN
              br
              h5 Description
              textarea#description(name="description")
              br
              select#built(name="built")
                option Built-out
                option Shell
              h5 youtube video link
              div#add_youtube_box
                input.youtube_inupt(type="text", name="youtube[0]")
                a#add_youtube(href="#") Add
              h5 image
              span#add_upload Add an image
              br
              div#add_files_list 
              br
              input(type="submit", value="Add")
          h3.search_listings Search
          div.search_listings
            form
              select#type
                option For Lease
              h5 Location
              input#search_location
              h5 Approx. size
              input#search_approx_size
              
              h5 Keywords
              input#search_keywords
              br
              input(type="submit", value="search")
          
              div
                a#email_me(href="#") Email me when new properties match my search.
          h3.edit_listing Edit Listing
          div.edit_listing
            form#edit_form(method="POST", action="/")
              select#option(name="type")
                option For Lease
              h5 Location
              input(name="location")
              h5 Size
              input(name="size")
              
              h5 Price
              input(name="price")
              select(name="price_type")
                option Per Month
              select(name="nnn")
                option NNN
              br
              h5 Description
              textarea(name="description")
              br
              select(name="built")
                option Built-out
                option Shell
          
              br
              input(type="submit", value="Edit")
            
        td.main
          div#map(style="width:100%; height: 200px;b") test
