!!! 5
html
  head
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src="/js/jquery.js")
    script(src="/coffee/officelist.js")
  body
    table(border="1", width="100%")
      tr
        td(colspan="2")
          table(width="100%")
            tr
              td
                h1(style="float:left;") Officelist.org
              td
                span#jingle the free way to search for real estate
              td(align="right")
                - if (username)
                  span Logged in as
                    a(href : "http://twitter.com/" + username) #{username}
                    span |
                    a(href : "/logout") Logout                  
                - else
                  a(href="/auth/twitter/callback") My listings
      tr
        td(style="width: 300px;")
          a#add_listing(href="#") Add Listing
          hr
          h3 Search
          select#option
            option For Lease
          h3 Location
          input#location
          h3 Approx. size
          input#approx_size
          
          h3 Keywords
          input#keywords
          
          div          
            a#search(href="#") Search

          div
            a#email_me(href="#") Email me when new properties match my search.
            
        td
          div#map(style="width:100%; height:600px") test
