!!! 5
html
  head
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src="/js/jquery.js")
    script(src="/coffee/officelist.js")
  body
    table
      tr
        td(valign="top")
          form(action="/login", method="POST")
            h2 Sign In
            label Email
            br
            input#username(name="username")
            br
            label Password
            br          
            input#password(name="password", type="password")
            br
            input(type="submit", value="Sign in")
        td(valign="top")
          form(action="/create", method="POST")
            h2 Create account
            label Email
            br
            input#username(name="username")
            br
            label Password
            br          
            input(name="password", type="password")
            br
            label Confirm Password
            br          
            input(name="password2", type="password")
            br
            input(type="submit", value="Create Account")

