* {
  margin: 0;
  padding: 0;
}

#main_table {
  border-collapse: collapse;
}

td.main {
  border: 1px solid black;
}

#left_side h3 {
  cursor: pointer;
}


.add_listing, .search_listings {
  padding-left: 10px;
}

.add_listing {
  background-color: lightgreen;
}

.search_listings {
  background-color: lightblue;
}
