* {
  margin: 0;
  padding: 0;
}

#main_table {
  border-collapse: collapse;
}

td.main {
  border: 1px solid black;
}

#left_side h3 {
  cursor: pointer;
}


.add_listing, .search_listings, .edit_listing {
  padding-left: 10px;
}

.add_listing {
  background-color: lightgreen;
}

.edit_listing {
  background-color: burlywood;
}

.search_listings {
  background-color: lightblue;
}

.youtube_inupt {
  margin: 2px;
}


#popup {
  background: none repeat scroll 0 0 #FFFFF;
  border: 1px solid black;
  margin: 0;
  padding: 7px;
  width: 425px;
  height: 350px;
}

a {
text-decoration: none;
}